.tabs {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.tab {
    display: flex;
    flex-direction: row;
    gap: 5px;

    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
}

.tab:hover {
    background: #ECEDF4;
}

.checked {
    display: flex;
    flex-direction: row;
    gap: 5px;

    width: fit-content;
    padding: 5px 10px;
    border-bottom: 2px solid #6F7CA0;
    cursor: pointer;
}
